<!DOCTYPE html>
<html>
<head>
  <title>Hydra</title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <!-- Device flash messages -->
  <div id="flash">
  <p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p>
  </div>
  <div id="fb"><%= link_to "Sign in with Facebook", user_omniauth_authorize_path(:facebook) %>
   </div>
  <div id="twitter"><%= link_to "Sign in with Twitter", user_omniauth_authorize_path(:twitter) %>
   </div>   
<%= yield %>

</body>
</html>
